@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body{
    font-family: 'Orbitron';
}
.header{
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 32px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.header a{
    text-decoration: none;
    color: black;
}
.navbar{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: -10px;
    margin-top: -10px;
    display: none;
    padding-top: 150px;
    transition: 0.5s;
    color: white;
    z-index: 6;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.tab{
    font-size: 32px;
    border-bottom: 2px #ffffff;
    padding: 5px;
}
.project_card{
    height: 250px;
    width: 250px;
    background: blue;
    float: left;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 5px;
    left: 20px;
    color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    z-index: 3;
    text-decoration: none;
}
.project_card_content{ 
    margin-top: 50%;
    transform: translate(0,-50%);
}
.content_container{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.newProjectform input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    font-family: 'Orbitron';
}
.sep{
    height: 2px;
    width: 150px;
    background-color: black;
    display: block;
}
.login_card{
    margin-top: 50px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}
.login_card form input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    width: 70%;
    font-family: 'Orbitron';
}
.login_card form input[type=Submit] {
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
    width: 30%;
    font-weight: 800;
}

/*for tablet screen */
@media screen and (max-width: 992px){
    .project_card{
        width: 200px;
        height: 200px;
    }
    .login_card{
        width: 50%;
    }
}

/*for mobile screen */
@media screen and (max-width: 600px){
    .project_card{
        width: 90%;
        height: 150px;
    }
    .project_card_content{ 
        margin-top: 25%;
        transform: translate(0,-50%);
    }
    .login_card{
        width: 80%;
    }
    .login_card form input[type=Submit]{
        width: 50%;
    }
}