<!DOCTYPE html>
<head>
    <title>Tasker - Task Management App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="menu_container">
            <div class="tab">
                Hey, {{full_name}}
            </div>
            <div class="tab">
                Projects
            </div>
            <div class="tab">
                <a href="/logout">Logout</a>
            </div>
            <a href="javascript:void(0)" onclick="close_navigation_menu()" style="padding: 10px;"><i class="material-icons md-48">menu_open</i></a>
        </div>
    </div>
    <div class="header">
        <a href="javascript:void(0)" onclick="open_navigation_menu()" style="float: left; padding-right: 10px;"><i class="material-icons md-48">menu</i></a>
        Tasker
    </div>
    <div class="add_button" id="add_button" onclick="hide_n_seek_menu()">
        <i class="material-icons md-48" style="font-size: 48px;">add</i>
    </div>
    <div class="label" id="new_task_button" onclick="prompt_task_dialogue()"> 
        New Task
    </div>
    <div class="label" style="bottom: 140px;" id="new_stage_button" onclick="prompt_stage_dialogue()">
        New Stage
    </div>
    <div class="dialog_box" id="new_task_dialogue">
        <div class="dialogue_close_button" onclick="dialogDisappear(0)">
            <i class="material-icons">
                close
            </i>
        </div>
        <h2>Create New Task</h2>
        Task Name<br>
        <input type="text" placeholder="Enter Task Name" id="task_name" ><br>
        Task Description<br>
        <input type="text" placeholder="Enter Task Description" id="task_desc" ><br>
        Task Assigenee<br>
        <input type="text" placeholder="Enter Task Assigenee" id="task_assig" ><br>
        Task Deadline<br>
        <input type="date" id="task_dead" ><br>
        <input type="submit" value="Create Task" onclick="Submit_Task()">
    </div>
    <div class="dialog_box" id="new_stage_dialogue">
        <div class="dialogue_close_button" onclick="dialogDisappear(1)">
            <i class="material-icons">
                close
            </i>
        </div>
        <h2>Create New Stage</h2>
        Stage Name<br>
        <input type="text" placeholder="Enter Stage Name" id="stage_name"><br>
        Stage Description<br>
        <input type="text" placeholder="Enter Stage Description" id="stage_desc"><br>
        Tasks Included<br>
        <input type="text" placeholder="Enter Task Names to be Included" id="stage_task_names"><br>
        Reward Points<br>
        <input type="number" placeholder="Enter Reward Points" max="50000" min="10" id="stage_reward"><br>
        <input type="submit" value="Create Stage" onclick="Submit_Stage()">
    </div>
    <canvas id="date_canvas"></canvas>
    <script src="{{url_for('static', filename='myscript.js')}}"></script>
</body>
</html>